atomicwrites
attrs
certifi
charset-normalizer
click
colorama
dnspython
filelock
Flask
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
joblib
MarkupSafe
multidict
numpy
packaging
pandas
pluggy
py
pyparsing
pytest
python-dateutil
pytz
requests
requests-file
scikit-learn
scipy
six
threadpoolctl
tld
tldextract
toml
typing-extensions
urllib3
Werkzeug
whois
wincertstore
yarl
zipp
dill
dnspython
fastapi
httptools
imblearn
mypy-boto3-s3
pip-chill
pymongo
python-dotenv
types-s3transfer
uvicorn
watchfiles
websockets
wincertstore
xgboost
pandas
PyYAML
numpy
scikit-learn
apache-airflow
pymongo[srv]
flask-cors
-e .
